main {
    margin-top: 60px;
    display: flex;
    height: 300px;
}

@media screen and (min-width: 896px) {
  .left_contents_sp {
    display: none;
  }
}

@media screen and (max-width: 896px) {
  main {
    display: block;
  }

  #humburger {
    z-index: 50;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    height: 45px;
    background-color:transparent;
    cursor: pointer;
    transition: 0.5s;
    /* visibility: hidden; */
  }

  #humburger .inner_line {
    display: block;
    position: absolute;
    left: 10px;
    width: 30px;
    height: 3px;
    background-color: #000000;
    transition: 0.5s;
    border-radius: 4px;
  }

  #line1{
    top: 10px;
  }

  #line2{
    top: 20px;
  }

  #line3{
    top: 30px;
  }

  .line1_clicked {
    transform: rotate(-45deg);
    top: 20px !important;
    background-color: #ffffff !important;
  }

  .line2_clicked {
    visibility: hidden;
  }

  .line3_clicked {
    transform: rotate(45deg);
    top: 20px !important;
    background-color: #ffffff !important;
  }

  .nav {
    visibility: hidden;
  }

  .left_contents_pc {
    display: none;
  }

  .right_contents_pc {
    display: none;
  }

  .left_contents_sp .card{
    margin: auto;
    display: block;
  }
}

#humburger_menu {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 200px;
  background-color: rgb(35, 40, 45);
  opacity: 0;
  visibility: hidden;
}

#humburger_menu ul {
  list-style-type: none;
  padding-left: 0px;
}

#humburger_menu ul li {
  padding-top: 5px;
  padding-bottom: 5px;
  list-style-type: none;
  text-align: center;
}

#humburger_menu ul li:hover {
  background-color: rgb(60, 128, 175);
}


#humburger_menu ul li a {
  display: block;
  width: auto;
  text-decoration: none;
  color: #ffffff;
}

.radius {
  visibility: visible !important;
  opacity: 1 !important;
  transition: opacity 0.4s;
}

.left_contents_pc {
  flex-basis: 70%;
}

.right_contents_pc {
  text-align: center;
  flex-basis: 30%;
  height: 100%;
}

.right_contents_pc .advertisement {
  font-display: inline-block;
  padding-left: 20px;
}

.card {
    width: 380px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ccc;
    display: inline-block;
    margin-left: 30px;
    margin-top: 30px;
  }
  .card-img {
    border-radius: 5px 5px 0 0;
    max-width: 100%;
    height: auto;
  }
  .card-content {
    padding: 15px;
  }
  .card-title {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  .card-text {
    color: #777;
    font-size: 14px;
    line-height: 1.5;
  }
  .card-link {
    text-align: center;
    border-top: 1px solid #eee;
    padding: 20px;
  }
  .card-link a {
    text-decoration: none;
    color: #0bd;
    margin: 0 10px;
  }
  .card-link a:hover {
    color: #0090aa;
  }

  .advertisement {
    border: solid 0.5px #000000;
    margin-top: 10px;
    padding:10px;
  }